.App {
  text-align: center;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  position: fixed;
  display: block;
  z-index: -2;
  background: url(./images/stars.png) center top repeat rgb(0, 0, 0);
  width: 100vw;
  min-height: 100vh;
}

.container_two {
  position: fixed;
  display: block;
  inset: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(./images/blob.png) center top repeat transparent;
  animation: 200s linear 0s infinite normal none running animation-1hmylq;
}

.container_three {
  position: fixed;
  display: block;
  inset: 0px;
  width: 100%;
    height: 100%;
    z-index: 0;
    background: url(./images/clouds.png) center top repeat transparent;
    animation: 200s linear 0s infinite normal none running animation-1q6vx2b;
}

.word_logo {
  background-image: linear-gradient(64deg, rgb(117, 195, 255) 0%,
   rgb(255, 92, 154) 100%);
   background-size: 100%;
   background-repeat: repeat;
   font-size: 2rem;
   font-family: "Inter-Bold", "Inter", sans-serif;
   font-weight: 700;
   line-height: 2.2rem;
   padding-left: 3rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   -moz-background-clip: text;
   -moz-text-fill-color: transparent;
}

.word_logo[data-text-fill] {
  display: inline-block;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: max(0em, calc(calc(1.3em - var(--framer-line-height, 1.3em)) / 2));
  margin: min(0em, calc(calc(1.3em - var(--framer-line-height, 1.3em)) / -2));
}

.logo {
  width: 155px;
  height: 101px;
  background: url(./images/app_logo.png);
  background-size: 100% 100%;
  margin-left: 5rem;
}

.nav_container {
  padding-top: 0.8rem;
  margin-right: 3em;
  align-items: center;
}

.fuel_network {
  background: #25D0AB !important;
}

.divider {
  width: 96% !important;
  margin: 0 auto;
  margin-top: 0.8rem;
  border: 0 solid #e5e5e5;
  opacity: 0.2 !important;
}

.stack_container {
  position: relative;
  padding: 6rem 0 0 0 ;
  margin: 0 2rem 0 2rem;
}

.gif_header {
  padding-left: 3rem;
  filter: drop-shadow(rgb(35, 37, 67) 0px -5mm 10mm);
}

.heading_stack_container {
  align-items: center;
  justify-content: center;
}

.second_header {
  color: #fff;
}

.first_header {
  color: #fff;
}

.signup_button {
  margin-top: 1rem !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animation-1q6vx2b {
  0% {
    background-position: 0px 0px;
}
  100% {
    background-position: 10000px 0px;
}
}

@keyframes animation-1hmylq {
  0% {
    background-position: 0px 0px;
}
100% {
  background-position: -10000px 5000px;
}
}